*{
	box-sizing: border-box;
}
body{
	background-color: #61122f;
	color: fff;
}
#header-nav{
	background-color: #fffdd0;
}
#logo{
	background: url("Space.png") no-repeat;
	width: 200px;
	height:110px;
	margin-top: 16px;
	padding: 0;
	
}

.navbar-brand{
	padding-top: 5px;

}
.navbar-brand h1{
	font-size: 21px;
	padding: 5px;
}
.btn{
	
	margin-top: 25px;
	background: black;
	color:white;
  border: 2.4px solid;
  font: inherit;
  line-height: 1;
  padding: 0.5em 1.6em;
  border-radius: 7px;
}
.btn:hover {
	box-shadow: 0 0.7em 0.7em -0.4em #61122f;
  transform: translateY(-0.25em);
  transition: 0.5s;
  color: #61122f;
}
#dropdownMenu1{
	width:65px;
}
.navbar-header {
	clear: both;
}

	
	

.container .jumbotron {

	padding: 0px;
	padding-right: 0px;
	padding-left:0px;
	border-style: solid;
	border-color: black;
	border-radius: 10px;
}
#upcoming, #Success, #elon{
	height:200px;
	width:250px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	border-radius: 7px;
	margin-left: 60px;
	margin-bottom: 10px;
	position: relative;
	display: block;

}

#upcoming{
	background:url("011.png");
	background-position: center;
}
#Success{
	background:url("012.png");
	background-position: center;
}
#upcoming span, #Success span, #elon span{
	position: absolute;
	bottom:0;
	right:0;
	width: 100%;

	text-align: center;
	font-size: 1.1em;
	background-color: black;
	opacity: 0.5;

}
#upcoming:hover , #Success:hover , #elon:hover{
	box-shadow: 0 0.8em 0.8em 0.4em black;
  transform: translateY(-0.25em);
  transition: 0.5s;
  border-color: #cccccc;
  color: white;
}

@media (max-width:990px){
	#header-nav{
		height:110px;
	}
	#welcome{
		font-size: 3.5vw;
	}
	#welcome1{
		font-size: 3vw;
	}
	
}

@media (max-width:999px){
	#upcoming, #Success, #elon{
		width:250px;
		margin: 0 auto 15px;
	}
}
@media (max-width:987px){
	#elon{
		width:80%;
	}
	}