@import url('https://fonts.googleapis.com/css2?family=Modak&family=Montserrat&display=swap');
*{
	box-sizing: border-box;
}
body{
	background-color: #61122f;
	color: fff;
}
#header-nav{
	background-color: #fffdd0;
}
#logo{
	background: url("Space.png") no-repeat;
	width: 200px;
	height:110px;
	margin-top: 16px;
	padding: 0;
	
}

.navbar-brand{
	padding-top: 5px;

}
.navbar-brand h1{
	font-size: 21px;
	padding: 5px;
}
.btn{
	
	margin-top: 25px;
	background: black;
	color:white;
  border: 2.4px solid;
  font: inherit;
  line-height: 1;
  padding: 0.5em 1.6em;
  margin-right: 15px;
  margin-bottom: 0;
  height: 43px;
  width: 88px;
  border-radius: 4px;
  
}
.btn:hover {
	box-shadow: 0 0.7em 0.7em -0.4em #61122f;
  transform: translateY(-0.25em);
  transition: 0.5s;
  color: #61122f;
}
#dropdownMenu1{
	width:65px;
}

	


.container .jumbotron {

	padding: 0px;
	padding-right: 0px;
	padding-left:0px;
	border-style: solid;
	border-color: black;
	border-radius: 10px;
}
#upcoming, #Success, #elon{
	height:200px;
	width:250px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	border-radius: 7px;
	margin-left: 60px;
	margin-bottom: 10px;
	position: relative;
	display: block;

}

#upcoming{
	background:url("011.png");
	background-position: center;
}
#Success{
	background:url("012.png");
	background-position: center;
}
#upcoming span, #Success span, #elon span{
	position: absolute;
	bottom:0;
	right:0;
	width: 100%;
	color: white;
	text-align: center;
	font-size: 1.1em;
	background-color: black;
	opacity: 0.5;

}
#upcoming:hover , #Success:hover , #elon:hover{
	box-shadow: 0 0.8em 0.8em 0.4em black;
  transform: translateY(-0.25em);
  transition: 0.5s;
  border-color: #cccccc;
  color: white;
}

.panel-footer{
	margin-top: 30px;
	padding-top:35px;
	padding-bottom: 30px;
	background-color: #222;
	border-top:0;
	color:white;
}
#sec3{
	text-align: center;
}
#sec3 span a{
	color: green;
	font-size:0.9em;

}
#image1{

	animation-name: imgfade;
	animation-duration: 8s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}


/* Upcoming HTML START*/
#textlaunch{
	text-align: center;
}
#timer{
	width:50%;
	margin-left: auto;
	margin-right: auto;
	color: white;
    background-color: #080808;
    border-radius: 6px;
    padding: 42px 15px;
    box-shadow: 1px 1px 5px rgba(255,255,255,.15), 0 15px 90px 30px rgba(0,0,0,.25);
    color: #fff;
    
   }
.timercon{
	font-family: 'Montserrat', 'Modak&family';
      font-size: 3.5rem;
      text-transform: uppercase;
	text-align: center;
	
}
.timercon a{
	padding:23px;
	color: white;
}
.name {
	text-align: center;

}
.name a{
	font-family: 'Montserrat', 'Modak&family';
      font-size: 1.3rem;
      text-transform: uppercase;
	  text-align: center;
	  padding: 40px;
	  color: white
}
.time{
	margin-top: 27px;
	margin-right:50px;
	padding: 2px;
	padding-right: 10px;
	padding-left:10px;
	background-color: #080808;
    border-radius: 2px;
    font-weight: bold;

}
.time a{
	font-family: 'Montserrat', 'Modak&family';
	color:white;
}

/*Upcoming HTML END */


@keyframes imgfade {
  0%   { opacity:0; }
  
  25%  { opacity:0.3;}
  
  40%  { opacity:1;}
  
 

  
}
@media (max-width:990px){
	#header-nav{
		height:110px;
	}
	#welcome{
		font-size: 3vw;
	}
	#welcome1{
		font-size: 2.8vw;
	}
	
}

@media (max-width:999px){
	#upcoming, #Success, #elon{
		width:250px;
		margin: 0 auto 15px;
	}
}
@media (max-width:987px){
	#elon{
		width:80%;
	}
	}